.navigation {
    margin-left: 20.7rem;
    margin-right: 15.3rem;
}

.navigation nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 34.8rem;
}

.navigation nav ul li {
    list-style: none;
}

.navigation nav ul li a {
    font-size: 1.8rem;
    font-weight: 400;
    color: var(--white);
    opacity: .6;
    text-decoration: none;
}

.navigation nav ul li a::before,
.navigation nav ul li a.active::before {
    content: '';
    display: inline-block;
    width: .2rem;
    position: relative;
    top: .2rem;
    left: -.3rem;
    background-color: var(--green);
    transition: .3s;
}

.navigation nav ul li a:hover::before {
    height: 1.7rem;
}

.navigation nav ul li a:hover {
    opacity: 1;
    transition: .3s;
}

.navigation nav ul li a.active::before {
    height: 1.7rem; 
}

.navigation nav ul li a.active {
    font-weight: 700;
    opacity: 1;
}