.navigation {
    margin-left: 20.7rem;
    margin-right: 15.3rem;
}

.navigation nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 34.8rem;
}

.navigation nav ul li {
    list-style: none;
}

.navigation nav ul li a {
    font-size: 1.8rem;
    font-weight: 400;
    color: var(--white);
    text-decoration: none;
}

.navigation nav ul li a::before {
    content: '';
    display: inline-block;
    width: .2rem;
    height: 1.7rem;
    margin-right: .3rem;
    position: relative;
    top: .2rem;
    background-color: var(--green);
}